<!DOCTYPE html>
<html lang="en">



<body>
<div class="container">

        <div class="row">
<h1>My account</h1>
<% if current_user.admin %>
	<%= button_to "Add event", new_events_path(), {class: "btn btn-danger", method: :get} %>
<% end %>
<!--<p>Find me in app/views/users/index.html.erb</p>
<%= current_user.email %>
<% if current_user.admin %>
blaaa
<%end%>-->
</div>
</div>

</body>